<div class="container-fluid"
    style="background-image: url('assets/img/23964.jpg'); background-size: cover; background-attachment: fixed; min-height: 100vh; padding-top: 70px; padding-bottom: 75px;">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary mb-3" *ngIf="!form.data.id">
                        Add Recharge
                    </h3>

                    <h3 class="text-center text-primary mb-3" *ngIf="form.data.id">
                        Update Recharge
                    </h3>

                    <!-- SUCCESS MESSAGE -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- RECHARGE ID -->
                        <label><b>Recharge ID*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-id-card"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.rechargeId" name="rechargeId"
                                placeholder="Enter Recharge ID">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.rechargeId}}</span>
                        </div>


                        <!-- MOBILE NUMBER -->
                        <label><b>Mobile Number*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-phone"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.mobileNumber"
                                name="mobileNumber" placeholder="Enter Mobile Number">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.mobileNumber}}</span>
                        </div>

                        <!-- AMOUNT -->
                        <label><b>Amount*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-money"></i>
                                </span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="form.data.amount" name="amount"
                                placeholder="Enter Amount">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.amount}}</span>
                        </div>

                        <!-- RECHARGE DATE -->
                        <label><b>Recharge Date*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input type="date" class="form-control" [(ngModel)]="form.data.rechargeDate"
                                name="rechargeDate">
                        </div>
                        <div>logi
                            <span class="text-danger">{{form.inputerror.rechargeDate}}</span>
                        </div>

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-success me-2" (click)="submit()">
                                {{form.data.id ? 'Update' : 'Save'}}
                            </button>

                            <button *ngIf="form.data.id" class="btn btn-warning" [routerLink]="['/rechargelist']">
                                List
                            </button>

                            <button *ngIf="!form.data.id" type="button" class="btn btn-warning" (click)="reset()">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>