<div class="container-fluid"
    style="background-image: url('assets/img/23964.jpg'); background-size: cover; background-attachment: fixed; min-height: 100vh; padding-top: 70px; padding-bottom: 75px;">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary mb-3" *ngIf="!form.data.id">
                        Add Artifact
                    </h3>

                    <h3 class="text-center text-primary mb-3" *ngIf="form.data.id">
                        Update Artifact
                    </h3>

                    <!-- SUCCESS MESSAGE -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger text-center">
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- ARTIFACT CODE -->
                        <label><b>Artifact Code*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-code"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.artifactCode"
                                name="artifactCode"
                                placeholder="Enter Artifact Code">
                        </div>
                        <div>
                        <span class="text-danger">{{form.inputerror.artifactCode}}</span>
                        </div>

                        <!-- ARTIFACT NAME -->
                        <label><b>Artifact Name*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-tag"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.artifactName"
                                name="artifactName"
                                placeholder="Enter Artifact Name">
                        </div>
                        <div>
                        <span class="text-danger">{{form.inputerror.artifactName}}</span>
                        </div>

                        <!-- VERSION -->
                        <label><b>Version*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-code-branch"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.version"
                                name="version"
                                placeholder="Enter Version">
                        </div>
                        <div>   
                        <span class="text-danger">{{form.inputerror.version}}</span>
                        </div>
                        <!-- STATUS -->
                        <label><b>Status*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.status"
                                name="status"
                                placeholder="Enter Status">
                        </div>
                            <div>
                        <span class="text-danger">{{form.inputerror.status}}</span>
                            </div>

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-success me-2" (click)="submit()">
                                {{form.data.id ? 'Update' : 'Save'}}
                            </button>

                            <button *ngIf="form.data.id" class="btn btn-warning" [routerLink]="['/artifactlist']">
                                List
                            </button>

                            <button *ngIf="!form.data.id" type="button" class="btn btn-warning" (click)="reset()">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>