<div class="container-fluid"
    style="background-image: url('assets/img/23964.jpg'); background-size: cover; background-attachment: fixed; min-height: 100vh; padding-top: 70px; padding-bottom: 75px;">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary mb-3" *ngIf="!form.data.id">
                        Add Diet Plan
                    </h3>

                    <h3 class="text-center text-primary mb-3" *ngIf="form.data.id">
                        Update Diet Plan
                    </h3>

                    <!-- SUCCESS -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- Diet Plan ID -->
                        <label><b>Diet Plan ID*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-id-badge"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.dietPlanId"
                                name="dietPlanId"
                                placeholder="Enter Diet Plan ID">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.dietPlanId}}</span>
                        </div>

                        <!-- Plan Name -->
                        <label><b>Plan Name*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-leaf"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                [(ngModel)]="form.data.planName"
                                name="planName"
                                placeholder="Enter Plan Name">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.planName}}</span>
                        </div>

                        <!-- Duration Days -->
                        <label><b>Duration (Days)*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input type="number" class="form-control"
                                [(ngModel)]="form.data.durationDays"
                                name="durationDays"
                                placeholder="Enter Duration in Days">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.durationDays}}</span>
                        </div>

                        <!-- Price -->
                        <label><b>Price*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-inr"></i>
                                </span>
                            </div>
                            <input type="number" class="form-control"
                                [(ngModel)]="form.data.price"
                                name="price"
                                placeholder="Enter Price">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.price}}</span>
                        </div>

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-success me-2" (click)="submit()">
                                {{form.data.id ? 'Update' : 'Save'}}
                            </button>

                            <button *ngIf="form.data.id" class="btn btn-warning"
                                [routerLink]="['/dietplanlist']">
                                List
                            </button>

                            <button *ngIf="!form.data.id" type="button"
                                class="btn btn-warning"
                                (click)="reset()">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>