<div class="container-fluid"
    style="background-image: url('assets/img/23964.jpg'); background-size: cover; background-attachment: fixed; min-height: 100vh; padding-top: 70px; padding-bottom: 75px;">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-danger mb-3" *ngIf="!form.data.id">
                        Add Blood Bank Record
                    </h3>

                    <h3 class="text-center text-danger mb-3" *ngIf="form.data.id">
                        Update Blood Bank Record
                    </h3>

                    <!-- SUCCESS MESSAGE -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{form.message}}
                    </div>

                    <form>

                        <!-- DONOR NAME -->
                        <label><b>Blood Bank ID*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.bloodBankId"
                                name="bloodBankId" placeholder="Enter Blood Bank ID">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.bloodBankId}}</span>
                        </div>

                        <!-- BLOOD GROUP -->
                        <label><b>Blood Group*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-tint"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.bloodGroup" name="bloodGroup"
                                placeholder="Enter Blood Group">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.bloodGroup}}</span>
                        </div>

                        <!-- CONTACT NUMBER -->
                        <label><b>Units Available*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-phone"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.unitsAvailable"
                                name="unitsAvailable" placeholder="Enter Units Available">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.unitsAvailable}}</span>
                        </div>


                        <label><b>location*</b></label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-tint"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.data.location" name="location"
                                placeholder="Enter Location">
                        </div>
                        <div>
                            <span class="text-danger">{{form.inputerror.location}}</span>
                        </div>

                        <!-- BUTTONS -->
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-success me-2" (click)="submit()">
                                {{form.data.id ? 'Update' : 'Save'}}
                            </button>

                            <button *ngIf="form.data.id" class="btn btn-warning" [routerLink]="['/bloodbanklist']">
                                List
                            </button>

                            <button *ngIf="!form.data.id" type="button" class="btn btn-warning" (click)="reset()">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>